body {
    font-family: "Comic Sans MS","微软雅黑","Merriweather", "PT Serif", Georgia, "Times New Roman", serif;
}
.item-price {
    padding-top:20px;
}

.item-title  {
}
.item-all-title{
    display:inline-block;
}

.item-all-price {
    display:inline-block;
    color:red;
}

.new-notice {
    text-align:center;
}
.new-error-msg {
    color:red;
}
